BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset_n" SITE "E1" ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS25 PULLMODE=UP ;
LOCATE COMP "DCK" SITE "A7" ;
LOCATE COMP "D1" SITE "A2" ;
LOCATE COMP "D0" SITE "B5" ;
LOCATE COMP "LPCLK[1]" SITE "E12" ;
LOCATE COMP "LPCLK[0]" SITE "E14" ;
LOCATE COMP "LP1[1]" SITE "F13" ;
LOCATE COMP "LP1[0]" SITE "F14" ;
LOCATE COMP "LP0[1]" SITE "E13" ;
LOCATE COMP "LP0[0]" SITE "F12" ;
IOBUF PORT "LPCLK[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LPCLK[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "DCK" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D1" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D0" IO_TYPE=LVDS25E PULLMODE=NONE ;
GSR_NET NET "reset_n_c_i";
LOCATE COMP "PIXCLK" SITE "N6" ;
USE PRIMARY NET "PIXCLK_c" ;
BLOCK JTAGPATHS ;
FREQUENCY NET "CLKOP" 300.000000 MHz ;
FREQUENCY NET "CLKOS" 300.000000 MHz ;
FREQUENCY NET "byte_clk_c" 75.00000 MHz ;
FREQUENCY NET "PIXCLK_c" 50.000000 MHz ;
