#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "u_DPHY_TX_INST/u_oDDRx4/sclk" 200.0 MHz;
#FREQUENCY NET "PLL_12_24_100_mod/PIXCLK" 200.0 MHz;
#FREQUENCY NET "u_pll_pix2byte_RGB888_2lane/byte_clk" 200.0 MHz;
#FREQUENCY NET "PLL_12_24_100_mod/w_CLK_100MHZ" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ" TO CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk";
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ" TO CLKNET "PLL_12_24_100_mod/PIXCLK";
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ" TO CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk";
#BLOCK PATH FROM CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk" TO CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ";
#BLOCK PATH FROM CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk" TO CLKNET "PLL_12_24_100_mod/PIXCLK";
#BLOCK PATH FROM CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk" TO CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk";
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/PIXCLK" TO CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ";
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/PIXCLK" TO CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk";
#BLOCK PATH FROM CLKNET "PLL_12_24_100_mod/PIXCLK" TO CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk";
#BLOCK PATH FROM CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk" TO CLKNET "PLL_12_24_100_mod/w_CLK_100MHZ";
#BLOCK PATH FROM CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk" TO CLKNET "u_pll_pix2byte_RGB888_2lane/byte_clk";
#BLOCK PATH FROM CLKNET "u_DPHY_TX_INST/u_oDDRx4/sclk" TO CLKNET "PLL_12_24_100_mod/PIXCLK";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
