BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
GSR_NET NET "reset_n_c_i";
IOBUF PORT "DCK" IO_TYPE=LVDS25E SLEWRATE=FAST ;
IOBUF PORT "D0" IO_TYPE=LVDS25E SLEWRATE=FAST ;
//LOCATE COMP "D0" SITE "B15" ;
//LOCATE COMP "D1" SITE "D15" ;
//LOCATE COMP "DCK" SITE "A17" ;
//FREQUENCY NET "u_DPHY_TX_INST/u_oDDRx4/u_oDDRx2/eclko" 125.000000 MHz ;
USE PRIMARY NET "u_DPHY_TX_INST/u_oDDRx4/u_oDDRx2/eclko" ;
USE PRIMARY NET "u_DPHY_TX_INST/u_oDDRx4/sclk" ;
IOBUF PORT "D1" SLEWRATE=FAST IO_TYPE=LVDS25E PULLMODE=NONE ;
USE PRIMARY NET "byte_clk" ;
FREQUENCY NET "PIXCLK_c" 50.000000 MHz ;
USE PRIMARY NET "CLKOP" ;
USE PRIMARY NET "CLKOS" ;
