BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "DCK" SITE "D8" ;
LOCATE COMP "D1" SITE "D6" ;
LOCATE COMP "D0" SITE "E6" ;
LOCATE COMP "LPCLK[1]" SITE "H14" ;
LOCATE COMP "LPCLK[0]" SITE "J15" ;
LOCATE COMP "LP1[1]" SITE "J16" ;
LOCATE COMP "LP1[0]" SITE "H15" ;
LOCATE COMP "LP0[1]" SITE "H16" ;
LOCATE COMP "LP0[0]" SITE "G15" ;
IOBUF PORT "LPCLK[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LPCLK[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "DCK" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D1" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D0" IO_TYPE=LVDS25E PULLMODE=NONE ;
GSR_NET NET "reset_n_c_i";
FREQUENCY NET "CLKOP" 300.000000 MHz ;
FREQUENCY NET "CLKOS" 300.000000 MHz ;
FREQUENCY NET "byte_clk" 75.000000 MHz ;
LOCATE COMP "reset_n" SITE "B3" ;
LOCATE COMP "PIXCLK" SITE "C8" ;
LOCATE COMP "i_Global_Enable" SITE "N2" ;
